<!DOCTYPE html>
<html>
<head>
    <title>Mi Página</title>
    <link rel="stylesheet" href="{{url_for('static', filename='products.css')}}">
</head>
<body>
    <h1>Datos de la Base de Datos</h1>
    <table>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td> 
                    <td>{{ row[1] }}</td> 
                    <td>{{ row[2] }}</td> 
                    <td><img src="{{ row[3] }}" alt="Imagen"></td>
                    <td>{{ row[5]}}</td>                    
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td><a href="/products/update/{{ row[0] }}">📝</a></td>
                    <td><a href="/products/read/{{ row[0] }}" class="view-button">👁️</a></td>
                    <td><a href="/products/delete/{{ row[0] }}" class="delete-button">🗑️</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button><a href="/products/create">CREAR NUEVO PRODUCTO</a></button>
</body>
</html>
