<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="{{url_for('static', filename='products.css')}}">

</head>
<body>
    <h1>LISTA DE PRODUCTOS</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Category</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for product in data %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td><img src="{{ product.photo }}" alt=""></td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category_id }}</td>
                    <td>{{ product.created }}</td>
                    <td>{{ product.updated }}</td>
                    <td><a href="/products/update/{{ product.id }}">📝</a></td>
                    <td><a href="/products/read/{{ product.id }}" class="view-button">👁️</a></td>
                    <td><a href="/products/delete/{{ product.id }}" class="delete-button">🗑️</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="/products/create">CREAR NUEVO PRODUCTO</a>
</body>
</html>
