<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">
</head>
<body>
    <div class="contenedor">
        <h1>EDIT PRODUCT</h1>
        <form action="/products/update/{{ product_id }}" method="POST" enctype="multipart/form-data">
            <label for="nombre">Nombre del Producto</label><br>
            <input class="caja" type="text" name="nombre" value="{{ product[1] }}" required><br>

            <label for="descripcion">Descripción</label><br>
            <textarea class="caja" name="descripcion" rows="4" cols="50">{{ product[2] }}</textarea><br>

            <label for="precio">Precio</label><br>
            <input class="caja" type="number" name="precio" step="0.01" value="{{ product[4] }}"><br>

            <label for="foto">Foto</label><br>
            <input type="file" id="imagen" name="foto" accept="image/*" value="{{product[3]}}"><br><br>

            <label for="categoria">Categoria</label><br>
            <select id="miDesplegable" name="categoria">
                <option value="1" {% if product['category_id'] == 1 %} selected {% endif %}>Electrónica</option>
                <option value="2" {% if product['category_id'] == 2 %} selected {% endif %}>Ropa</option>
                <option value="3" {% if product['category_id'] == 3 %} selected {% endif %}>Juguetes</option>
            </select><br><br>
            <div class="boton">
                <input class="button" type="submit" value="ACTUALIZAR">
            </div>
        </form>
    </div>
</body>
</html>
